.card-body {
    height: 200px;
    width: 450px;
    display: flex;
    border:1px solid #eee;
    z-index: 12;
}
.card-body:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.card-body:hover .button-wrap {
    display: flex;
}
.card-body:hover img {
    opacity: 0.3;
}
.img-wrap {
    display: flex;
    align-self: self-end;
}
img {
    height:100%;
    width: 200px;
    object-fit: contain;

}
.right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    width: 60%;

}
.button-wrap {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 20px;
    display: none;
}
.delete-btn .edit-btn {
    border-radius: 20px;
    border: none;
    width: 100px;
    color: #000;
    background-color: white;
}